# Database Credentials
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PGPASSWORD=your_postgres_password_here

# PostgreSQL binaries directory path
PGBIN=C:\Program Files\PostgreSQL\16\bin

# Backup Configuration
BACKUP_ROOT=C:\pg_backup
SCHEDULE=DAILY

# If SCHEDULE is WEEKLY, set the day (MON, TUE, WED, THU, FRI, SAT, SUN)
WEEKLY_DAY=SUN
